page {
	height: 100%;
}

.page-main {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-bottom: 0;
}

.swiper-main {
	position: relative;
	height: 422upx;
}

.animate__hide {
	-webkit-animation-name: animateHide;
	animation-name: animateHide;
}

@-webkit-keyframes animateHide {
	from {
		height: 422upx;
		opacity: 1;
	}

	to {
		height: 0;
		opacity: 0;
	}
}

@keyframes animateHide {
	from {
		height: 422upx;
		opacity: 1;
	}

	to {
		height: 0;
		opacity: 0;
	}
}

.animate__show {
	-webkit-animation-name: animateShow;
	animation-name: animateShow;
}

@-webkit-keyframes animateShow {
	from {
		height: 0;
		opacity: 0;
	}

	to {
		height: 422upx;
		opacity: 1;
	}
}

@keyframes animateShow {
	from {
		height: 0;
		opacity: 0;
	}

	to {
		height: 422upx;
		opacity: 1;
	}
}

.photo-album {
	position: absolute;
	right: 20upx;
	top: 80upx;
	z-index: 3;
	padding: 20upx;
}

.swiper-slide-unit {
	height: inherit;
}

.train-detail-main {
	flex: 1;
	height: 0;
}

.segmented-box {
	border-bottom: 2upx solid #D1D1D1
}

.unit-content {
	padding-bottom: 80upx;
}

.course-inner {
	padding: 30upx;
}

.is-joined {
	background: #929292;
	color: #FFFFFF;
	border-color: #929292;
}

.course-detail-box {
	border-bottom: 20upx solid #F4F4F4;
}

.course-detail-box:last-child {
	border-bottom: none;
}

.less-active {
	color: #008CEE;
}

.train-swiper-main {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.video-block {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.video-btn {
	position: absolute;
}

.virtual {
	opacity: 0.3;
}

.media-music {
	background: #FCFCFC;
	border: 1px solid #E0E0E0;
	color: #333;
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: flex-start;
	width: 80%;
	border-radius: 10upx;
}

.music-icon {
	border-right: 1px solid #E0E0E0;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	padding: 10upx;
	height: 100%;
	width: 100upx;
}

.music-play {
	padding: 10upx 20upx;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 1;
}

.music-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.music-loading {
	position: fixed;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 90upx;
	height: 90upx;
	top: 8%;
	right: 5%;
	opacity: 0.9;
	z-index: 5;
	border-radius: 50%;
}

.rotating {
	animation: rotate 5s linear infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.less-more {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	align-content: center;
}

.less-fist {
	justify-content: flex-end;
}

.less-prev,
.less-next {
	padding: 5rpx 10rpx;
}

.less-m-btn {
	color: #666;
}
